In [2]:
import pandas as pd
import numpy as np
import os
import altair as alt
import glob
alt.data_transformers.disable_max_rows()

DataTransformerRegistry.enable('default')

## Read Files

In [19]:
# assign directory
directory = 'new_polymer_rheology/'

df_in = pd.DataFrame()


# iterate over files in
# that directory
for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    # checking if it is a file
    if os.path.isfile(f):
        pd.read_xlsx(f)
        df_in.append()

AttributeError: module 'pandas' has no attribute 'read_xlsx'

In [20]:
for filename in os.scandir(directory):
    if filename.is_file():
        df = pd.read_excel(filename.path)

In [32]:
df_sheets = pd.ExcelFile('new_polymer_rheology/Polymer DPTLB 2070 C_1200ppm.xlsx')
df_sheets.sheet_names

['25 c', '40 C', '60 C', '70 C', '80 C']

In [56]:
one_file = pd.DataFrame()
for i in df_sheets.sheet_names:
    df = pd.DataFrame(df_sheets.parse(i, skiprows=2, usecols=range(2,10)))
    df = df[1:]
    print(df.columns, df.shape)
df

Index(['Stress', 'Shear rate', 'Viscosity', 'Step time', 'Temperature',
       'Normal stress'],
      dtype='object') (31, 6)
Index(['Stress', 'Shear rate', 'Viscosity', 'Step time', 'Temperature',
       'Normal stress'],
      dtype='object') (31, 6)
Index(['Stress', 'Shear rate', 'Viscosity', 'Step time', 'Temperature',
       'Normal stress'],
      dtype='object') (31, 6)
Index(['Stress', 'Shear rate', 'Viscosity', 'Step time', 'Temperature',
       'Normal stress'],
      dtype='object') (31, 6)
Index(['Stress', 'Shear rate', 'Viscosity', 'Step time', 'Temperature',
       'Normal stress'],
      dtype='object') (31, 6)

       Stress Shear rate   Viscosity Step time Temperature Normal stress
1   0.0123171   0.999999   0.0123171   39.9688      80.202      0.397763
2   0.0174577    1.25891   0.0138673   80.1094      80.199      0.388426
3   0.0170774    1.58488   0.0107752   120.219      80.118      0.390667
4   0.0203825    1.99528   0.0102154   160.266      80.057      0.390827
5   0.0241728    2.51185  0.00962351   200.469       80.02      0.400655
6   0.0282924    3.16228  0.00894683   240.516      80.011      0.388093
7   0.0308096    3.98106  0.00773903   280.703      79.999      0.386584
8   0.0341154    5.01187  0.00680691   320.641      79.996      0.386365
9   0.0376915    6.30962  0.00597366   360.828      80.006       0.39044
10  0.0418988    7.94331  0.00527473    400.75      80.007      0.393338
11  0.0467995         10  0.00467995   440.969      79.994      0.396502
12  0.0540241    12.5893  0.00429127   481.078      80.001      0.384879
13  0.0608839     15.849   0.0038415   521.172      79.993      0.383748
14  0.0709799    19.9526  0.00355742   561.344      80.005      0.382874
15  0.0851765    25.1189  0.00339093   601.359      80.003      0.382406
16   0.102874    31.6228  0.00325318   641.531      79.998      0.381665
17   0.121207    39.8108  0.00304458   681.656      79.991      0.380774
18   0.144977    50.1187  0.00289267    721.75      79.995      0.381079
19   0.175691    63.0958  0.00278452   761.875      80.002      0.379806
20   0.213848    79.4329  0.00269218   801.859      79.994      0.379924
21   0.261103        100  0.00261103   842.078      80.004      0.379524
22   0.327903    125.893  0.00260463   882.172      80.003      0.380123
23   0.422243    158.489  0.00266418    922.25      79.995      0.379221
24   0.577662    199.526  0.00289517   962.313      79.991      0.380594
25   0.777037    251.189  0.00309344   1002.36      79.999      0.379159
26    1.01749    316.228  0.00321759   1042.44      80.004      0.381299
27    1.34662    398.107  0.00338256   1082.58      79.999      0.385991
28    1.77328    501.187  0.00353815   1122.67      79.997      0.393017
29    2.31178    630.957  0.00366392   1162.77      79.985      0.403552
30    3.05594    794.329   0.0038472   1202.87      79.974      0.407459
31    4.07655       1000  0.00407655   1242.95      79.973       0.40933

In [27]:
df = pd.read_excel('new_polymer_rheology/Polymer DPTLB 2070 C_1200ppm.xlsx', skiprows=2, )
df

,Unnamed: 0,Unnamed: 1,Stress,Shear rate,Viscosity,Step time,Temperature,Normal stress
0,NaN,NaN,Pa,1/s,Pa.s,s,°C,Pa
1,NaN,NaN,0.00878494,1,0.00878493,39.9844,24.984,0.378309
2,NaN,NaN,0.0024808,1.25893,0.00197057,80.0781,24.932,0.374162
3,NaN,NaN,0.00876551,1.58491,0.00553059,120.203,24.962,0.372329
4,NaN,NaN,0.0106932,1.99524,0.00535936,160.281,24.987,0.371051
5,NaN,NaN,0.0122106,2.51189,0.00486113,200.453,24.994,0.370338
6,NaN,NaN,0.0143646,3.16228,0.00454249,240.531,24.997,0.370755
7,NaN,NaN,0.0176709,3.98111,0.00443868,280.734,24.997,0.371055
8,NaN,NaN,0.0221262,5.01189,0.00441474,320.844,24.998,0.372774
9,NaN,NaN,0.0279811,6.30962,0.00443468,360.906,24.999,0.371331
10,NaN,NaN,0.0346022,7.94316,0.00435623,401.063,24.998,0.37223
11,NaN,NaN,0.0439539,10,0.00439539,441.141,24.999,0.372235
12,NaN,NaN,0.0543532,12.5892,0.00431745,481.406,24.998,0.371628
13,NaN,NaN,0.0677023,15.8489,0.00427173,521.484,24.999,0.371025
14,NaN,NaN,0.0845904,19.9526,0.00423956,561.594,25.001,0.372734
15,NaN,NaN,0.105099,25.1188,0.00418407,601.688,24.998,0.3725
16,NaN,NaN,0.130525,31.6227,0.00412758,641.766,25,0.372208
17,NaN,NaN,0.162415,39.8107,0.00407969,681.875,25.001,0.373253
18,NaN,NaN,0.202124,50.1188,0.00403291,721.984,24.999,0.374192
19,NaN,NaN,0.251825,63.0957,0.00399115,762.141,24.999,0.374946
20,NaN,NaN,0.314158,79.4328,0.00395501,802.266,24.998,0.374376
21,NaN,NaN,0.393524,100,0.00393524,842.344,25,0.37423
22,NaN,NaN,0.494628,125.893,0.00392897,882.484,24.999,0.37591
23,NaN,NaN,0.621162,158.489,0.00391926,922.578,25.001,0.376061
24,NaN,NaN,0.779469,199.526,0.0039066,962.734,24.999,0.374692
25,NaN,NaN,0.978447,251.189,0.00389527,1002.86,24.998,0.375516
26,NaN,NaN,1.23496,316.228,0.00390528,1042.95,25.001,0.372768
27,NaN,NaN,1.79879,398.108,0.00451834,1083.02,24.999,0.371742
28,NaN,NaN,2.57917,501.187,0.00514612,1123.14,24.999,0.368183
29,NaN,NaN,3.618,630.957,0.00573415,1163.28,25.001,0.362996
30,NaN,NaN,4.94226,794.329,0.00622192,1203.38,24.999,0.355586
31,NaN,NaN,6.57875,1000,0.00657874,1243.58,25.001,0.340355

In [25]:
df

,Unnamed: 0,Unnamed: 1,25 C,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Stress,Shear rate,Viscosity,Step time,Temperature,Normal stress
2,NaN,NaN,Pa,1/s,Pa.s,s,°C,Pa
3,NaN,NaN,0.00878494,1,0.00878493,39.9844,24.984,0.378309
4,NaN,NaN,0.0024808,1.25893,0.00197057,80.0781,24.932,0.374162
5,NaN,NaN,0.00876551,1.58491,0.00553059,120.203,24.962,0.372329
6,NaN,NaN,0.0106932,1.99524,0.00535936,160.281,24.987,0.371051
7,NaN,NaN,0.0122106,2.51189,0.00486113,200.453,24.994,0.370338
8,NaN,NaN,0.0143646,3.16228,0.00454249,240.531,24.997,0.370755
9,NaN,NaN,0.0176709,3.98111,0.00443868,280.734,24.997,0.371055
10,NaN,NaN,0.0221262,5.01189,0.00441474,320.844,24.998,0.372774
11,NaN,NaN,0.0279811,6.30962,0.00443468,360.906,24.999,0.371331
12,NaN,NaN,0.0346022,7.94316,0.00435623,401.063,24.998,0.37223
13,NaN,NaN,0.0439539,10,0.00439539,441.141,24.999,0.372235
14,NaN,NaN,0.0543532,12.5892,0.00431745,481.406,24.998,0.371628
15,NaN,NaN,0.0677023,15.8489,0.00427173,521.484,24.999,0.371025
16,NaN,NaN,0.0845904,19.9526,0.00423956,561.594,25.001,0.372734
17,NaN,NaN,0.105099,25.1188,0.00418407,601.688,24.998,0.3725
18,NaN,NaN,0.130525,31.6227,0.00412758,641.766,25,0.372208
19,NaN,NaN,0.162415,39.8107,0.00407969,681.875,25.001,0.373253
20,NaN,NaN,0.202124,50.1188,0.00403291,721.984,24.999,0.374192
21,NaN,NaN,0.251825,63.0957,0.00399115,762.141,24.999,0.374946
22,NaN,NaN,0.314158,79.4328,0.00395501,802.266,24.998,0.374376
23,NaN,NaN,0.393524,100,0.00393524,842.344,25,0.37423
24,NaN,NaN,0.494628,125.893,0.00392897,882.484,24.999,0.37591
25,NaN,NaN,0.621162,158.489,0.00391926,922.578,25.001,0.376061
26,NaN,NaN,0.779469,199.526,0.0039066,962.734,24.999,0.374692
27,NaN,NaN,0.978447,251.189,0.00389527,1002.86,24.998,0.375516
28,NaN,NaN,1.23496,316.228,0.00390528,1042.95,25.001,0.372768
29,NaN,NaN,1.79879,398.108,0.00451834,1083.02,24.999,0.371742
30,NaN,NaN,2.57917,501.187,0.00514612,1123.14,24.999,0.368183
31,NaN,NaN,3.618,630.957,0.00573415,1163.28,25.001,0.362996
32,NaN,NaN,4.94226,794.329,0.00622192,1203.38,24.999,0.355586
33,NaN,NaN,6.57875,1000,0.00657874,1243.58,25.001,0.340355